html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.bg-video{
    position: fixed;
    width: 100%;
}
.bg-cover-1{
    background-color: #2a5555 ;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 50%;
    z-index: 0;
}
.bg-cover-2{
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 80%;
    clip-path: polygon(0% 0%,65% 0%,58% 100%,0% 100%);
}
.div-1{
    width: 35%;
    margin-bottom: 1.5%;
}
.fs-0{
    font-size: 3rem;
}
.div-2{
    width: 40%;
}
.div-3{
    width: 40%;
    height: 60px;
    flex-direction: row;
    margin-top: 4%;
}
.btn-success{
    margin-left: 6%;
    width: 35%;
}
.container{
    margin-left: 11%;
    margin-top: 12%;
}
.btn-dark{
    width: 70px !important;
    height: 70px;
    border-radius: 100%;
    margin-bottom: 3%;
}
.media-items{
    position: relative;
    z-index: 1;
    margin-top: 15%;
    margin-right: 4%;
    flex-direction: column;
    align-items: flex-end;
}